@import url('https://fonts.googleapis.com/css2?family=Syncopate:wght@400;700&family=JetBrains+Mono:wght@100..800&display=swap');
@import "tailwindcss";

@theme {
  --color-primary: #CCFF00;
  --color-primary-hover: #b3df00;
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-900: #09090b;
  --color-zinc-950: #020617;
  --font-display: "Syncopate", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-sans: "JetBrains Mono", ui-monospace, monospace;
}

@layer base {
  body {
    @apply font-mono text-zinc-100 bg-zinc-950 antialiased;
  }
}

.brutalist-card {
  @apply bg-zinc-900 border border-zinc-800 rounded-none transition-all duration-300;
}

.brutalist-button {
  @apply bg-primary text-black font-bold uppercase tracking-tighter rounded-none transition-all duration-200 border-2 border-primary hover:bg-transparent hover:text-primary active:translate-x-1 active:translate-y-1;
}

.shadow-brutalist {
  box-shadow: 4px 4px 0px 0px #CCFF00;
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
